.single__feature span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF766B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.single__feature span i{
    font-size: 1.5rem;

}

.choose__content h4{

    color: #fff;
    margin-bottom: 15px;
}

.single__feature h6{
    color: #f5b70a;
    margin-bottom: 0;
}

.single__feature p{
    font-size: .7rem;

}

.feature__icon-two {
    background: #2ace92 !important;
}

.feature__icon-3{
    background: #f5b70a !important;
}
.feature__icon-4{

    background: #7865ff !important;
}